---
layout: default
title: "About Dr. Jim Sellmeijer"
subtitle: "A CTO/co-founder for your tech"
description: "<h3>From life sciences, to data science to leading all things tech</h3>
<br>
<p>In 2016, I graduated magna cum laude with a doctorate degree in Neuroscience. During my
    studies, I enjoyed the creative process of writing analysis software and machine learning
    algorithms to facilitate my research, and in doing so realized my passion for data science
    and software development.</p>
<br>
<p>
    In the four years that followed, I transferred to HR tech as a Software Developer and Data
    Scientist, building and implementing software solutions as well as Data Science projects.
    Filling a gap within the company, I became a certified Scrum master within the Agile
    framework and became technical lead for the development team at Searchtalent GmbH.</p>
<br>
<h3>
    Startup co-founder
</h3>
<br>
<p>In September 2020, I took on the role of CTO as a co-founder of Workbee. Workbee is a digital
    job and career platform catering to professionals and assistants in the nursing, medical,
    and social work fields. Our primary focus is to optimize the recruitment process, making it
    both efficient and precise. At Workbee, we have developed a cutting-edge recommender system
    called the “Passt-Genau-Filter.” This innovative tool enables us to match the desires and
    skills of our candidates with the specific requirements of our clients’ job opportunities.
    As a result, we assist candidates in discovering job positions that represent a significant
    improvement over their current employment situation. Our platform offers a user-friendly
    experience, providing highly personalized job selections tailored to each individual. By
    utilizing the “Passt-Genau-Filter,” we strive to empower candidates in finding their ideal
    job and career path in the nursing, medical, or social work fields.</p><br>
<p>
    As the CTO, I am responsible for shaping the technical landscape and turning our ideas into
    reality. I am the lead in crafting the entire technical architecture and overseeing the
    development of our app. Drawing upon my experience in data science, I leverage data analysis
    and machine learning techniques to improve our product and to foster data-driven decision
    making. Furthermore, I am the go-to person for all matters relating to security and privacy.
</p><br>
<p>
    Being responsible for the product development, I chart the strategic direction of our
    product. This involves making critical decisions about where our product should be heading
    in the coming years. I relish the challenge of blending technical acumen with an
    understanding of market demands, customer needs, and industry trends to create a compelling
    product roadmap. At Workbee, I wear multiple hats as a leading manager. My leadership
    extends to guiding and nurturing a talented team of software developers and UX researchers.
</p>
<br>
<h3>
    Startuptechconsultancy.com
</h3>
<br>
<p>
    With Startuptechconsultancy.com, I aim to share my knowledge and experience to help other companies and
    entrepreneurs with their tech endeavors.
    Drawing upon my diverse background spanning neuroscience, data science, and software development, I understand the
    multifaceted nature of technology. Whether it's conceptualizing innovative solutions, building robust technical
    architectures, or devising scalable business strategies, Startuptechconsultancy.com empowers companies with the
    knowledge and tools needed to thrive in today's competitive landscape.
</p>
<br>
<p>
    Moreover, having experienced firsthand the challenges of product development, team management, and market
    positioning, I recognize the value of mentorship and collaboration in the startup ecosystem. Through
    Startuptechconsultancy.com, I seek to foster a community of like-minded individuals, facilitating knowledge sharing,
    networking opportunities, and collaborative endeavors.
</p>
<br>
<p>
    At its core, Startuptechconsultancy.com embodies a commitment to excellence, innovation, and empowerment. By
    leveraging my expertise and insights, I aspire to catalyze the success of your business, enabling you to realize its
    full potential and make a meaningful impact in the tech industry.
</p>"
---

{% include header.html %}
{% include page_header_2.html %}
{% include _service_hero.html %}
{% include _contact_me_now.html %}
{% include footer_2.html %}