---
layout: default
title: "Contact"
---

{% include header.html %}
{% include page_header_2.html %}
<!-- Start onova_contact_form section -->
{% include contact.html %}
<!-- End onova_contact_form section -->
<!-- Start onova_contact_information section -->
<section class="onova_contact_information section_padding">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title text-center">
                    <span class="theme_span"> contact me now</span>
                    <h2>contact Info</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="tel:{{site.phone_number}}" class="info_btn">
                    <div class="contact_information_box">
                        <div class="information_box">
                            <div class="information_icon">
                                <i class="fal fa-phone"></i>
                            </div>
                            <div class="information_info">
                                <h3>Phone Number</h3>
                                <p>{{site.phone_number}}</p>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="mailto:{{site.email}}" class="info_btn">
                    <div class="contact_information_box">
                        <div class="information_box">
                            <div class="information_icon">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="information_info">
                                <h3>Email</h3>
                                <p>{{site.email}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End onova_contact_information section -->

{% include footer_2.html %}