---
layout: default

title: "Machine Learning and Predictive Analytics for Strategic Decision-Making"
subtitle: "Machine Learning & Predictive Analytics"

description: "A lot of companies have data and don't know where to get started. Other's don't have data and want to
collect. With my history as a Data Scientist, I can help you leverage your data to generate machine learning algorithms
that improve your business. <br><br>As a former data scientist and researcher, I am familiar with machine learning
models - and their pitfalls. Thanks to my experience, I know how to build good, robust models and what options there are
for feature engineering and hyperparameter tuning. However, thanks to my expertise as a founder, I always return to the
business view after the technical deep dive to evaluate the models and get the best insights.

"

benefit_span_1: ""
benefit_title_1: ""
benefit_body_1: "State-of-the-Art Machine Learning Models and Analytics to answer your business questions"
benefit_span_2: ""
benefit_title_2: ""
benefit_body_2: "Identification of all your possibilities to make use of your data "
benefit_span_3: ""
benefit_title_3: ""
benefit_body_3: "Running models to provide you with real-time-insights from now on"


approach_title_1: ""
approach_body_1: ""

approach_title_2: ""
approach_body_2: ""

approach_title_3: ""
approach_body_3: ""
---
{% include header_2.html %}
{% include page_header_2.html %}
{% include _service_hero.html %}
{% include _whats_in_it_for_you.html %}
{% include _approach_and_process.html %}
{% include _contact_me_now.html %}
{% include footer_2.html %}