<section class="light_bg onova_about onova_about_1">
    <div class="theme_title text-center">
        <h2>Approach and Process</h2>
    </div>
    <div class="about_container">

        <div class="about_left wow slideInLeft" data-wow-duration="1s">
            <img src="assets/images/about_1.png" alt="">
        </div>
        <div class="about_right">
            <div class="about_right_content onova_content">
                <!-- <span class="about_span">About Us</span> -->
                <h2>1. {{page.approach_title_1}}</h2>
                <p>{{page.approach_body_1}}</p>
            </div>
            <div class="onova_button  wow slideInUp">
                <a href="{{relative_url}}/contact" class="onova_btn about_btn">learn more</a>
            </div>
        </div>
    </div>
</section>

<section class="light_bg onova_about onova_about_1">
    <div class="about_container">

        <div class="about_right">
            <div class="about_right_content onova_content">
                <!-- <span class="about_span">About Us</span> -->
                <h2>2. {{page.approach_title_2}}</h2>
                <p>{{page.approach_body_2}}</p>
            </div>

            <div class="onova_button  wow slideInUp">
                <a href="{{relative_url}}/contact" class="onova_btn about_btn">learn more</a>
            </div>
        </div>
        <div class="about_left wow slideInRight" data-wow-duration="1s">
            <img src="assets/images/about_1.png" alt="">
        </div>
    </div>
</section>

<section class="light_bg onova_about onova_about_1 section_padding">
    <div class="about_container">
        <div class="about_left wow slideInLeft" data-wow-duration="1s">
            <img src="assets/images/about_1.png" alt="">
        </div>
        <div class="about_right">
            <div class="about_right_content onova_content">
                <!-- <span class="about_span">About Us</span> -->
                <h2>3. {{page.approach_title_3}}</h2>
                <p>{{page.approach_body_3}}</p>
            </div>
            <div class="onova_button  wow slideInUp">
                <a href="{{relative_url}}/contact" class="onova_btn about_btn">learn more</a>
            </div>
        </div>
    </div>
</section>