<section class="call_to_action_3 dark_blue section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="call_title_3 ">
                    <span class="theme_span">Contact</span>
                    <h2>Contact me now to <br>learn more</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="call_action_btn">
                    <a href="#" class="onova_btn qoute_btn_3">Get in Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>