<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="case_top_img">
                    <div class="case_top_content">
                        <div class="case_inner_content">
                            <h2>{{page.subtitle}}</h2>
                            <p>{{page.description}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>