<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div><br><br></div>
                        <div class="theme_title text-center">

                            <h2>What's In It For You?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb_30">
                        <div class="choose_box choose_box_1 onova_box">
                            <a href="{{relative_url}}/contact" class="choose_box_bg bg_image"
                                style="background-image: url(assets/images/choose_1.jpg);">
                                <span class="choose_icon_box">
                                    <i class="fal fa-fingerprint"></i>
                                </span>
                            </a>
                            <div class="choose_info">
                                <span>{{page.benefit_span_1}}</span>
                                <h3>{{page.benefit_title_1}}</h3>
                                <p>{{page.benefit_body_1}}</p>
                                <a href="{{relative_url}}/contact" class="choose_btn"><i
                                        class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb_30">
                        <div class="choose_box choose_box_1 onova_box">
                            <a href="{{relative_url}}/contact" class="choose_box_bg bg_image"
                                style="background-image: url(assets/images/choose_1.jpg);">
                                <span class="choose_icon_box">
                                    <i class="fal fa-fingerprint"></i>
                                </span>
                            </a>
                            <div class="choose_info">
                                <span>{{page.benefit_span_2}}</span>
                                <h3>{{page.benefit_title_2}}</h3>
                                <p>{{page.benefit_body_2}}</p>
                                <a href="{{relative_url}}/contact" class="choose_btn"><i
                                        class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb_30">
                        <div class="choose_box choose_box_1 onova_box">
                            <a href="{{relative_url}}/contact" class="choose_box_bg bg_image"
                                style="background-image: url(assets/images/choose_1.jpg);">
                                <span class="choose_icon_box">
                                    <i class="fal fa-fingerprint"></i>
                                </span>
                            </a>
                            <div class="choose_info">
                                <span>{{page.benefit_span_3}}</span>
                                <h3>{{page.benefit_title_3}}</h3>
                                <p>{{page.benefit_body_3}}</p>
                                <a href="{{relative_url}}/contact" class="choose_btn"><i
                                        class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>