<!-- Start onova_about_service section -->
<section class="onova_about_service onova_about_service_1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="onova_left_box">
                    <div class="service_box about_service_box hb_1 wow slideInUp" data-wow-delay="0.3s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_7.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_7.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h4>Technology Strategy</h4>
                                <p>Find the best technology solutions for your business and make the most of your
                                    resources.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_2 wow slideInUp" data-wow-delay="0.1s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_8.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_8.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h4>End-to-end data Strategy</h4>
                                <p>Leverage your data to support your business and make data-driven decisions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_3 wow slideInUp" data-wow-delay="0.6s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_6.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_6.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h4>Leading Software Development</h4>
                                <p>Bring ideas into reality with custom applications, integration, and modernization.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_4 wow slideInUp" data-wow-delay="0.9s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_9.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_9.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h4>Agile Management</h4>
                                <p>Navigate tech projects with planning, resource allocation, and timely, on-budget
                                    delivery.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="onova_right_box">
                    <div class="about_right_content onova_content">
                        <span class="dot"></span>
                        <span class="about_span">About Us</span>
                        <h2>CTO-as-a-Service
                        </h2>
                        <h3>The way to bring tech management and develop your product the right way.</h3>
                        <div class="about_content_block">
                            <p>Technology plays a pivotal role in driving business success and innovation. Whether
                                you're a startup looking to establish a robust technology infrastructure or an
                                established company seeking to optimize your digital strategy, I'm here to help.
                                 </p>
                            <p>Get advice from a real CTO and founder with a successful company. As a founder I
                                understand that every business is unique and that tech has to serve business goal.
                            </p>
                            <p>
                                With my help you can bring technical expertise, tailored architecture,
                                and
                                software oversight into your company, sans full-time costs.</p>
                        </div>
                    </div>
                    <div class="onova_button">
                        <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_about_service section -->