<!-- Start onova_contact section -->
<section class="onova_contact_form light_bg ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme_title">
                    <span class="theme_span">Contact me now </span>
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact_form_3">
                    <form
                        action="https://docs.google.com/forms/d/1SUzxFZeCpG7ebLAmmA5lfPgDVwKTQo-cWzU0NnQlIUQ/formResponse"
                        method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <label>Your Name</label>
                                    <input type="text" class="form_control" placeholder="Enter Your Name"
                                        name="entry.603838383" required>
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <label>Your E-mail Address</label>
                                    <input type="email" class="form_control" placeholder="Enter Your Email"
                                        name="entry.1865893702" required>
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form_control" placeholder="Enter your phone number"
                                        name="entry.1120131861" required>
                                    <i class="fal fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <label>Message</label>
                                    <textarea class="form_control" placeholder="Enter Your Message"
                                        name="entry.366956112" required></textarea>
                                    <i class="fal fa-edit"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group form_button">
                                    <button class="onova_btn onova_btn_2 form_btn">Get a Qoute</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="contact_map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d310844.3630064138!2d13.095090134030864!3d52.50680415348663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x42120465b5e3b70!2sBerlin!5e0!3m2!1sen!2sde!4v1711463731085!5m2!1sen!2sde"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- End onova_contact section -->